{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [
          ".js",
          "jsx",
          "ts",
          "tsx",
          ".json"
        ],
        "alias": {
          "@src": "./src",
          "@components": "./src/components",
          "@context": "./src/context",
          "@forms": "./src/forms",
          "@pages": "./src/pages",
          "@router": "./src/router",
          "@services": "./src/services",
          "@store": "./src/store",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}