{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [
          ".js",
          "jsx",
          "ts",
          "tsx",
          ".json"
        ],
        "alias": {
          "@src": "./src"
        }
      }
    ]
  ]
}